body {
    background: black;
    color: white;
    margin: 0px;
    font-family: "PT Serif", serif;
    margin-bottom: 100px;
 
 }
 
 header{
 
    border-bottom: solid 2px rgb(181, 27, 27);
 
    padding: 20px;
 
    font-size: 30px;
    color: rgb(181, 27, 27);
 
 }
 
 .chamada{
 
 background: rgb(84, 13, 21);
 
 padding-bottom: 80px;
 
 padding-top: 80px;
 
 display: flex;
 
 justify-content: center;
 }
 
 .chamada-texto{
 
 margin-right: 10%;
 
 
 
 }
 
 h1 {
 
 font-size: 25px;
 
 }
 img{
 
 height: 200px;
 
 }
 
 
 .categoria-animes {
 
 display: flex;
 overflow-x: auto;
 gap: 10px;
 }
 
 .animes {
 
 padding-left: 20px;
 padding-right: 20px;
 margin-top: 50px;
 }
 
 .categoria-animes img {
 
 opacity: 0.5;
 
 }
 .categoria-animes img:hover {
 
 opacity: 1.0;
 border: solid red;
 
 }
 
 .animes h2 {
 
 color: rgb(181, 27, 27);
 
 }